.blog-items {
    background-image: url("../img/lines.svg");
    background-repeat: repeat-y;
    background-size: 1200px;
    background-position: center;
    position: relative;
    z-index: 1;

    @media (max-width: 1280px) {
        background-size: calc(100% - 80px);
    }
    padding-top: 32px;
    padding-bottom: 120px;

    @include mobile {
        padding-top: 24px;
        background-size: calc(100% - 48px);
        padding-bottom: 64px;
    }
    .container {
        position: relative;
    }
    .button-wrapper {
        text-align: center;
        margin-top: 16px;
        @include mobile {
            margin-top: 0;
        }
    }
    .decor-red {
        position: absolute;
        top: 38%;
        left: 34px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--red);
        box-shadow: 0 0 0 2px rgba(225, 22, 22, 0.5), 0 0 0 4px rgba(225, 22, 22, 0.1);
        z-index: -1;
        @include mobile{
            left:18px;
            top: 38.8%;
        }
    }
    .decor-yellow1 {
        top: 15%;
        position: absolute;
        right: 34px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--yellow);
        box-shadow: 0 0 0 2px rgba(255, 193, 7, 0.5), 0 0 0 4px rgba(255, 193, 7, 0.1);
        z-index: 0;
        @include mobile{
            right: 18px;
        }
    }
    .decor-yellow2 {
        top: 76%;
        position: absolute;
        right: 34px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--yellow);
        box-shadow: 0 0 0 2px rgba(255, 193, 7, 0.5), 0 0 0 4px rgba(255, 193, 7, 0.1);
        z-index: 0;
        @include mobile{
            right: 18px;
        }
    }
    .decor-mint1 {
        position: absolute;
        width: 310px;
        height: 310px;
        border-radius: 50%;
        background-color: var(--mint);
        opacity: 0.3;
        filter: blur(120px);
        top: 100px;
        left: 40%;
        z-index: -1;
        @include mobile{
            display: none;
        }
    }
    .decor-mint2 {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--mint);
        box-shadow: 0 0 0 3px rgba(51, 255, 204, 0.5), 0 0 0 5px rgba(51, 255, 204, 0.1);
        bottom: -71px;
        left: 33.7%;
        z-index: -1;
        @include mobile{
            display: none;
        }
    }
   
    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 64px 64px;
        @include  tablet{
            grid-gap: 64px 40px;
        }
        @include  tablet{
            grid-template-columns: 1fr 1fr;
        }
        @include mobile{
            grid-template-columns:1fr;
            grid-gap: 40px 40px;
        }

        .blog-item {

            &:first-of-type{
                grid-column: 1/-1;
            }
            .item {
                &-img {
                    width: 100%;
                    height: 270px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 24px;
                    margin-bottom: 16px;
                    @include slaptop {
                        height: 200px;
                    }
                    @include tablet {
                        height: 230px;
                    }
                    @include mobile {
                        height: 220px;
                        margin-bottom: 12px;
                    }
                }
            }
            .date {
                font-size: 14px;
                line-height: 160%;
                opacity: 0.64;
                margin-bottom: 16px;
                @include mobile {
                    margin-bottom: 12px;
                }
            }
            .title {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 16px;
                @include mobile {
                    margin-bottom: 12px;
                }
            }
            .text {
                font-size: 14px;
                line-height: 160%;
                margin-bottom: 16px;
                @include mobile {
                    margin-bottom: 12px;
                }
            }
            .read-more {
                color: var(--mint);
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 11px;
                    height: 13px;
                    background: url("../img/main-page/arrow-next-green.svg") no-repeat;
                    right: -15px;
                    background-size: contain;
                    background-position: center;
                    top: 50%;
                    transform: translateX(100%) translateY(-50%);
                }
            }
            &:first-child {
                width: 100%;
                display: flex;
                align-items: stretch;
                margin-bottom: 56px;
                @include tablet {
                    margin-bottom: 16px;
                }
                @include mobile {
                    display: block;
                }
                .date {
                    margin-bottom: 24px;
                    @include tablet {
                        margin-bottom: 16px;
                    }
                }
                .title {
                    font-size: 50px;
                    line-height: 61px;
                    margin-bottom: 24px;
                    @include slaptop {
                        font-size: 40px;
                        line-height: 49px;
                    }
                    @include tablet {
                        font-size: 32px;
                        line-height: 39px;
                        margin-bottom: 16px;
                    }
                    @include mobile {
                        margin-bottom: 12px;
                    }
                }
                .item-img {
                    width: calc(50% - 40px);
                    flex-shrink: 0;
                    border-radius: 32px;
                    min-height: 384px;
                    height: 100%;
                    margin-right: 40px;
                   
                    @include slaptop {
                        min-height: 330px;
                    }
                    @include tablet {
                        min-height: 250px;
                        width: calc(50% - 24px);
                        margin-right: 24px;
                    }
                    @include mobile {
                        width: 100%;
                        border-radius: 24px;
                        height: 220px;
                        margin-bottom: 12px;
                        margin-right: 0;
                       
                    }
                }
                .item-description {
                    padding: 14px 0 14px 0px;
                    @include slaptop {
                        padding:0;
                    }
                  
                }
                .text {
                    margin-bottom: 24px;
                    @include tablet {
                        display: block; /* or inline-block */
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        max-height: 5.4em;
                        line-height: 1.8em;
                        margin-bottom: 16px;
                    }
                    @include mobile {
                        margin-bottom: 12px;
                        max-height: 3.6em;
                    }
                }
            }
        }
    }
}
